@charset "UTF-8";

/* Estilo para impressoras */

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    /* quando for impressora,não mostrar menu, então é none */
    display: none;
}

article {
    /* para pegar a largura toda to papel */
    width: 100%;
}

/* after, depois do article */
article::after{
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}

